.subunit.DNK,
.subunit.DNB { 
    fill: #dcd; 
}
.subunit.DNK:hover {
    fill:red;
}
.subunit.DEU { fill: #cdd; }
.subunit.SWE { fill: #cdc; }
.subunit.NOW { fill: #ddc; }
// .subunit.SWE { display: none; }
.subunit-boundary {
  fill: none;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

.subunit-boundary.DNK {
  stroke: #aaa;
}
.map-content {
    position:absolute;
    top:0;
    bottom:25px;
    width:100%;
    // margin-left:-8px;
}
.btn-group.hide {
  display:none;
}
#map {
    height:100%;
    overflow:hidden;
}
#map svg {
    top:0;
    left:0;
    position:absolute;
}

#controls {
    position: absolute;
    top: 20px;
    right: 100px;
}
.diagram-content {
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    background-color: rgba(255,255,255,0.75);
}
.diagram {
    // position: absolute;
    display:flex;
    justify-content:center;
    align-items:center;
}
.diagram .arc text {
  font: 20px sans-serif;
  fill:black;
  text-anchor: middle;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.diagram .arc path {
  stroke: #fff;
}
.diagram .minor {
  visibility:hidden;
}
.diagram .minor:hover {
  visibility:visible
}

.info-box {
  position:relative;
  width: 50%;
  margin: auto;
  margin-top: 100px;
}
.hidden {
  display:none;
}
.align-right {
  text-align:right;
  display:inline-block;
  float:right;
}
.subheader {
  display:inline=block;
  width:100%;
  line-height:35px;
}
.logbook { 
  height: 600px;
  overflow-y:scroll;
}
.logbook .logrow .logdate {
  white-space:nowrap;
}
.info-box .dropdown-menu.cas-toggle {
    top: initial;
    right:0;
    left:initial;
    padding-top:0;
    padding-bottom:0;
}
.marked {
  background-color:#c9c9c9;
}
.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
  background-color: #f9f9f9;
  border: 1px solid #c9c9c9;
}
.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front li {
  cursor:pointer;
}
.selected_filter {
  // background-color: #f9f9f9;
  margin-top:2px;
  background-color: #78a8e3;
  border: 1px solid #c9c9c9;
  padding: 2px 5px 2px 5px;
  color:white;
  display:inline-block;
}
.selected_filter i.fa {
  cursor:pointer;
}
circle {
  cursor:pointer;
}
#controls {
  max-width: 285px;
}
.drag-slide {
  margin-left:auto;
  margin-right:auto;
  width: 80%;
  max-width: 1000px;
}
.drag-slide .ui-slider-range {
  cursor: pointer;
}
.slide-group {
  text-align:center;
  position:absolute;
  left: 0;
  right: 0;
  bottom:2px;
  z-index:1;
}
.slide-group div {
  display:inline-block;
}
.slide-group .year {
  width: 9%;
  text-align:center;
  font-weight: 600;
  vertical-align:text-bottom;
}